body
{
	font-family: Arial, Verdana, Tahoma, Sans-serif;
	margin: 0px;
	padding: 0px;
	background:#e5e5e5;
}

#container
{
	margin-top:30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width:90%;
	/*-webkit-box-shadow: 0 0 10px 0.2px #000000;
	box-shadow: 0 0 10px 0.2px #000000;*/
	background:#ffffff;
	padding: 10px;
}

#header
{
	background-color: #002859;
	color: #fff;
	margin: 0px;
	padding: 20px;
}

#header h1
{
	margin: 0px;
	padding: 0px;
	color: #fff;
}

#current_period_status_content
{
	text-align: center;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	padding: 3px;
}

#current_period_status_header
{
	background-color: #002859;
	color: #fff;
	margin: 0px;
	padding: 10px;
}

#current_period_status_header h2
{
	margin: 0px;
	color: #fff;
}

.status_detail
{
	display: inline-block;
	width: 30%;
	max-width: 30%;
	min-width: 100px;
	text-align: center;
}

.status_detail h3
{
	font-size: 2.8em;
	margin: 3px;
}

.status_detail h4
{
	font-size: .7em;
	margin: 3px;
}

#current_period_chart
{
	height:300px;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}